<a class="atom atom-choice" href="{{#mgn}}${element.href}{{/mgn}}{{^mgn}}{{href}}{{/mgn}}">
  <p>
    {{#mgn}}
      ${element.name}
    {{/mgn}}
    {{^mgn}}
      {{linktext}}
    {{/mgn}}
  </p>
</a>
