<!DOCTYPE html>
<html class="{{ htmlClass }}">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../webresources/css/main.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" media="screen" />

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {% pattern-lab-head %}
    <!-- End Pattern Lab -->

</head>
<body class="{{ bodyClass }}">
